
sandbox/.gradle/6.9.4/executionHistory/executionHistory.bin
sandbox/.gradle/6.9.4/executionHistory/executionHistory.lock
sandbox/.gradle/6.9.4/fileChanges/last-build.bin
sandbox/.gradle/6.9.4/fileHashes/fileHashes.bin
sandbox/.gradle/6.9.4/fileHashes/fileHashes.lock
sandbox/.gradle/6.9.4/gc.properties
sandbox/.gradle/6.9.4/javaCompile/javaCompile.lock
sandbox/.gradle/6.9.4/javaCompile/taskHistory.bin
sandbox/.gradle/buildOutputCleanup/buildOutputCleanup.lock
sandbox/.gradle/buildOutputCleanup/cache.properties
sandbox/.gradle/buildOutputCleanup/outputFiles.bin
sandbox/.gradle/checksums/checksums.lock
sandbox/.gradle/vcs-1/gc.properties
sandbox/build/classes/java/main/MyFirstProgramm.class
sandbox/build/libs/sandbox.jar
sandbox/build/tmp/compileJava/source-classes-mapping.txt
sandbox/build/tmp/jar/MANIFEST.MF
java_mfp/.idea/misc.xml
sandbox/.gradle/6.9.4/javaCompile/classAnalysis.bin
sandbox/.gradle/6.9.4/javaCompile/classAnalysis.bin
sandbox/build/classes/java/main/MyFirstProgram.class
sandbox/build/classes/java/main/ru/stqa/mfp/sandbox/MyFirstProgram.class
sandbox/build/classes/java/main/MyFirstProgram.class
sandbox/.gradle/6.9.4/javaCompile/classAnalysis.bin
sandbox/.gradle/6.9.4/javaCompile/classAnalysis.bin
